<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.infullmobile.hackatoninstant.feature">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:name=".InstantApplication">
        <meta-data
            android:name="asset_statements"
            android:label="HACKteams"
            android:resource="@string/asset_statements"/>
        <activity android:name=".MainActivity">
            <tools:validation testUrl="https://instantapp-2fb83.firebaseapp.com/category/category.html"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="instantapp-2fb83.firebaseapp.com"
                    android:pathPrefix="/category/"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
    </application>

</manifest>